/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #111; /* Dark blue-black background */
    color: #fff; /* White text */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.name {
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
}

.about {
    padding: 2rem;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
}

.social-buttons {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.social-buttons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #333; /* Dark background for social icons */
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.social-icon:hover {
    background-color: #555; /* Darker background on hover */
}

.copyright {
    margin-top: 20px;
}

.copyright p {
    font-size: 0.8rem;
}
